<ng-container *ngFor="let category of seasonData">
  <section class="hero is-info is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{category.categoryName}}
        </h1>
      </div>
    </div>
  </section>
  <ng-container *ngFor="let season of category.seasons">
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <section class="section">
          <div class="content">
            <h1 class="title">{{season.title}}</h1>
            <h2 class="subtitle">{{season.subtitle}}</h2>
            <p class="is-italic">{{season.tagLine}}</p>
            <div class="column is-two-thirds-desktop" *ngIf="!!season.image">
              <figure class="image is-2by1">
                <img [src]="season.image.url">
              </figure>
            </div>
            <div><strong>System:</strong> {{season.system}}</div>
            <div><strong>{{season.credit.label}}:</strong> {{season.credit.data}}</div>
            <h3>Starring</h3>
            <div *ngFor="let player of season.players">
              <strong>{{player.character}}</strong> – {{player.name}}
            </div>
          </div>
        </section>
      </div>
    </div>
  </ng-container>
</ng-container>
