<div class="columns">
  <div class="column is-10 is-offset-1">
    <section class="section">
      <div class="content">
        <h1 class="title">About Us</h1>
        <p>Party Roll is a Dungeons and Dragons Actual Play podcast started by a bunch of friends in late 2014. The
          group had been playing Pathfinder and D&D for several years before they had the collective idea of: "What if
          we could record these Cory-giggles and share them with the world?"</p>
        <p>The Result is this! Mark, Steven, Cory, Dusty, Rory, Matt, Vanessa, and
          <small>Jose</small>
          have since spent their time having fun gathering around the table and exploring the various worlds created by
          our DMs. A <a href="https://www.youtube.com/watch?v=da5NXkIi0Xg" target="_blank">lot</a> has
          <abbr class="tooltip has-text-info" data-tooltip="4 weddings, 4 children, 4 recording spaces, 1 batknife">changed</abbr>
          since we started this podcast, but D&D
          <a href="https://www.dandwiki.com/wiki/Undeath_(5e_Subclass)" target="_blank">never dies.</a>
        </p>

        <h2>Social Media</h2>
        <h4>Party Roll</h4>
        <div><strong>Email:</strong> <span class="email p-l-5">@</span></div>
        <div><strong>Twitter:</strong> <a class="p-l-5" href="https://twitter.com/Party_Roll">@Party_Roll</a></div>
        <div><strong>Facebook:</strong> <a class="p-l-5" href="https://www.facebook.com/PartyRollPodcast/">Party Roll
          Podcast</a></div>
        <br>
        <h4>People</h4>
        <div><strong>Mark:</strong> <a class="p-l-5" href="https://twitter.com/elmoogle" target="_blank">@Elmoogle</a> </div>
        <div><strong>Steven:</strong> <a class="p-l-5" href="https://twitter.com/PartyRollSteven" target="_blank">@PartyRollSteven</a></div>
        <div><strong>Dusty:</strong> <a class="p-l-5" href="https://twitter.com/PartyRollDusty" target="_blank">@PartyRollDusty</a></div>
        <div><strong>Cory:</strong> <a class="p-l-5" href="https://twitter.com/Cory_PartyRoll" target="_blank">@Cory_PartyRoll</a></div>
        <div><strong>Vanessa:</strong> <a class="p-l-5" href="https://twitter.com/Muhnasis" target="_blank">@Muhnasis</a></div>
        <div><strong>Jose:</strong> 🤷</div>
        <div><strong>Matt:</strong> <a class="p-l-5" href="https://twitter.com/ballofmatts" target="_blank">@ballofmatts</a></div>

      </div>
    </section>
  </div>
</div>
