<div class="columns" *ngIf="getEpisodeInfo(podcastData | async)">
  <div class="column is-10 is-offset-1">
    <div class="columns p-t-20">
      <div class="column is-6-desktop is-offset-3-desktop is-10-mobile is-offset-1-mobile">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <video controls preload="metadata" poster="{{podcastItem.itunesImage}}">
                <source src="{{podcastItem.link}}" type="audio/mpeg">
                Your browser does not support the audio element.
              </video>
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h2 class="title">{{podcastItem.title}}</h2>
              <small [title]="podcastItem.pubDate">{{podcastItem.pubDate | amTimeAgo}}</small>&nbsp;
              <small title="Download Episode">
                <a [href]="podcastItem.link" target="_blank">
                  <fa-icon [icon]="faCloudDownloadAlt"></fa-icon>
                </a>
              </small>
              <div [innerHtml]="podcastItem.description"></div>
            </div>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item" title="Previous Episode" routerLink="/episode/{{podcastItem.prevEpisode}}"
               *ngIf="podcastItem.prevEpisode">
              <fa-icon [icon]="faArrowLeft"></fa-icon>
            </a>
            <a class="card-footer-item" title="Next Episode" routerLink="/episode/{{podcastItem.nextEpisode}}"
               *ngIf="podcastItem.nextEpisode">
              <fa-icon [icon]="faArrowRight"></fa-icon>
            </a>
          </footer>
        </div>
      </div>
    </div>
    <div class="columns p-t-20">
      <div class="column is-10-mobile is-offset-1-mobile">
        <disqus [identifier]="(podcastItem.title | permalink)"></disqus>
      </div>
    </div>
  </div>
</div>

