<section class="hero is-medium is-warning is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Party Roll
      </h1>
      <h2 class="subtitle">
        Who gave us mics?
      </h2>
    </div>
  </div>
</section>
<tabs>
  <tab [title]="'Episodes'"><prp-episode-blurbs></prp-episode-blurbs></tab>
  <tab [title]="'Seasons'"></tab>
  <tab [title]="'Support'"></tab>
  <tab [title]="'About'"></tab>
</tabs>
<footer class="footer">
  <div class="container">
    <div class="content">
      <div class="columns is-mobile">
        <div class="column has-text-right">
          <p>
            <strong>© {{today | date:'yyyy'}} Party Roll</strong> by
          </p>
        </div>
        <div class="column">
          <div style="position:relative">
            <p>
              <span><prp-signature></prp-signature></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
