.lh-35 {
  line-height: 35px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-t-10 {
  padding-top: 10px;
}

.sticky-bottom {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0;
  background-color: white;
  margin-top:10px;
  padding-top: 5px;
  & > .column {
    padding-top: 0;
    padding-bottom: 0;
  }
}
