<div class="columns" *ngFor="let item of podcastData?.items">
  <div class="column is-10 is-offset-1">
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <img src="{{item.itunesImage}}">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <div>
            <strong>{{item.title}}</strong>&nbsp;
            <small>{{item.pubDate | amTimeAgo}}</small>
            <div [innerHtml]="item.description"></div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
