.filters {
  display: flex;
  align-items: center;
}

.sticky-bottom {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0;
  background-color: white;
  margin-top: 10px;
  padding-top: 5px;

  & > .column {
    padding-top: 0;
    padding-bottom: 0;
  }
}
