/* You can add global styles to this file, and also import other style files */

/* prp colors */
$purple: hsl(236, 18%, 54%);
$orange: hsl(9, 43%, 71%);
$yellow: hsl(47, 43%, 88%);
$green: hsl(98, 20%, 89%);
$blue: hsl(236, 18%, 54%);
$cyan: hsl(236, 18%, 54%);
$red: hsl(8, 43%, 70%);

@import '~bulma/bulma';
@import '~bulma-extensions/bulma-tooltip/dist/css/bulma-tooltip';

@font-face {
  font-family: 'futura';
  font-display: fallback;
  src: url('assets/futura_book_font-webfont.eot');
  src: url('assets/futura_book_font-webfont.eot?#iefix') format('embedded-opentype'),
  url('assets/futura_book_font-webfont.woff2') format('woff2'),
  url('assets/futura_book_font-webfont.woff') format('woff'),
  url('assets/futura_book_font-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
